-
    const contracts = [
        {
            key: '32511',
            number: 'П125/11-2020',
            contractor: 'Победа',
            date: '25.12.23',
            progress: '10',
            class: 'danger'
        },
        {
            key: '45896',
            number: 'П122/11-2016',
            contractor: 'Аэрофлот',
            date: '25.08.19',
            progress: '50',
            class: 'warning'
        },
        {
            key: '45676',
            number: 'П12/09-2020',
            contractor: 'Строй-Маркет',
            date: '25.09.07',
            progress: '90',
            class: 'success'
        },
        {
            key: '54689',
            number: 'П123/10-2020',
            contractor: 'Рога и Копыта',
            date: '12.01.20',
            progress: '0',
            class: ''
        },
    ]