-
    const tasks = [
        {
            class: 'danger',
            description: 'Какое-то очень срочное и важное задание или от руководителя'
        },
        {
            class: 'tender',
            description: 'Подготовить договор по результатам тендера'
        },
        {
            class: 'sand-clock',
            description: 'Задача зависла, нерешаемая или что-то еще случилось, жду ответа'
        },
        {
            class: 'contract',
            description: 'Дополнительное соглашение заключить с кем-то там'
        },
        {
            class: 'acceptance',
            description: 'Задача по проверке, оформлению выполнения и прочее...'
        },
        {
            class: 'additional',
            description: 'Какое-то задание от экономистов или других служб, внештатное'
        },
        {
            class: 'delete',
            description: 'Задача помечнная как отмененная, невозможная к исполнению'
        },
        {
            class: 'done',
            description: 'Успешно выполненное задание, показывается, только если нечего...'
        }
    ]