include ../includes/head
include ../includes/header
section.container.my-4
    h1.py-3.mb-3 Рабочий стол
    include ../includes/cards/card-tasks
    .row.mb-4
        include ../includes/cards/card-contracors
        include ../includes/cards/card-contracts
    .row.mb-4
        include ../includes/cards/card-objects
        include ../includes/cards/card-acceptances
        include ../includes/cards/card-end-acts
include ../includes/footer