-
    const acceptances = [
        {
            month: 'НОЯ 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'ОКТ 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'СЕН 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'АВГ 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'ИЮЛ 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'ИЮН 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'МАЙ 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
        {
            month: 'АПР 20',
            summary: '102 456 952,36',
            counter: '20',
            total: '78'
        },
    ]