-
    const endacts = [
        {
            name: 'Готово к выдаче',
            icon: 'done',
            counter: '123'
        },
        {
            name: 'Экономисты',
            icon: 'money',
            counter: '123'
        },
        {
            name: 'Ген. директор',
            icon: 'nuts',
            counter: '123'
        },
        {
            name: 'Гарантийный отдел',
            icon: 'gear',
            counter: '123'
        }

    ]