-
    const contractors = [
        {
            name: 'Лента',
            image: 'lenta-logo',
            counter: '14 договоров',
            date: ' 20.11.2020'
        },
        {
            name: 'Банк Санкт-Петербург',
            image: 'bspb-logo',
            counter: '2 договора',
            date: ' 18.11.2020'
        },
        {
            name: 'АО "Ростелеком"',
            image: 'rostelecom-logo',
            counter: '23 договора',
            date: ' 13.11.2020'
        },
        {
            name: 'ООО "Сервис"',
            counter: '203 договора',
            date: ' 10.06.2007'
        }
    ]