-
    const objects = [
        {
            number: 'ГП-4ЯН3/10-2020',
            progress: '20',
            counter: '14 дс',
            date: ' 20.11.2020'
        },
        {
            number: 'ГП-4ЯН2/05-2020',
            progress: '32',
            counter: '2 дс',
            date: ' 18.11.2020'
        },
        {
            number: 'ГП-4ЯН1/03-2020',
            progress: '59',
            counter: '23 дс',
            date: ' 13.11.2020'
        },
        {
            number: 'ГП-3ЯН2.3/07-2019',
            progress: '100',
            counter: '203 дс',
            date: ' 10.06.2007'
        }
    ]